@page "/generations"
@using PokeCards.Services
@using PokeCards.Data
@inject PokeapiService _pokeapiService 
@inject NavigationManager NavigationManager

<PageTitle>Generations</PageTitle>

<h1>Generations</h1>

<div class="radio-panel">
    @for (var gen = 1; gen < 9; gen++)
    {
        <input type="radio" name="switch" id="@("s" + gen)" value="@gen" @onchange="RadioSelect" checked ="@(gen == 1)"/>
        <label for="@("s" + gen)" class="switch-label">@gen</label>
    }
    <div class="switch-indicator"><span class="switch-shadow"></span></div>
</div>

<PokemonGrid Pokemons="_pokemons"></PokemonGrid>


@code
{
    private int _selectedGeneration = 1;
    private string _link = "";
    private List<Pokemon> _pokemonList = new ();
    private IEnumerable<Pokemon> _pokemons = ArraySegment<Pokemon>.Empty;

    protected override async Task OnInitializedAsync()
    {
        _pokemonList = await _pokeapiService.GetAllPokemonAsync();
        var generation = _pokeapiService.GenerationRange(_selectedGeneration);
        _pokemons = _pokemonList.GetRange(generation.offset, generation.populationCount);
    }

    private void RadioSelect(ChangeEventArgs args)
    {
        int.TryParse(args.Value.ToString(), out _selectedGeneration);
        if (_selectedGeneration is > 0 and < 9)
        {
            var generation = _pokeapiService.GenerationRange(_selectedGeneration);
            _pokemons = _pokemonList.GetRange(generation.offset, generation.populationCount);
        }
    }
    
}