@page "/generations"
@using PokeCards.Services
@using PokeCards.Data
@inject PokeapiService _pokeapiService 
@inject NavigationManager NavigationManager

<PageTitle>Generations</PageTitle>

<h1>Generations</h1>

<div class="radio-panel">
    @for (var gen = 1; gen < 9; gen++)
    {
        <input type="radio" name="switch" id="@("s" + gen)" value="@gen" @onchange="RadioSelect" checked ="@(gen == 1)"/>
        <label for="@("s" + gen)" class="switch-label">@gen</label>
    }
    <div class="switch-indicator"><span class="switch-shadow"></span></div>
</div>
@if (!_pokemons.Any())
{
    <img src="data:image/svg+xml;base64,PCEtLSBCeSBTYW0gSGVyYmVydCAoQHNoZXJiKSwgZm9yIGV2ZXJ5b25lLiBNb3JlIEAgaHR0cDovL2dvby5nbC83QUp6YkwgLS0+Cjxzdmcgd2lkdGg9IjM4IiBoZWlnaHQ9IjM4IiB2aWV3Qm94PSIwIDAgMzggMzgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgc3Ryb2tlPSIjZmZmIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMSAxKSIgc3Ryb2tlLXdpZHRoPSIyIj4KICAgICAgICAgICAgPGNpcmNsZSBzdHJva2Utb3BhY2l0eT0iLjUiIGN4PSIxOCIgY3k9IjE4IiByPSIxOCIvPgogICAgICAgICAgICA8cGF0aCBkPSJNMzYgMThjMC05Ljk0LTguMDYtMTgtMTgtMTgiPgogICAgICAgICAgICAgICAgPGFuaW1hdGVUcmFuc2Zvcm0KICAgICAgICAgICAgICAgICAgICBhdHRyaWJ1dGVOYW1lPSJ0cmFuc2Zvcm0iCiAgICAgICAgICAgICAgICAgICAgdHlwZT0icm90YXRlIgogICAgICAgICAgICAgICAgICAgIGZyb209IjAgMTggMTgiCiAgICAgICAgICAgICAgICAgICAgdG89IjM2MCAxOCAxOCIKICAgICAgICAgICAgICAgICAgICBkdXI9IjFzIgogICAgICAgICAgICAgICAgICAgIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIi8+CiAgICAgICAgICAgIDwvcGF0aD4KICAgICAgICA8L2c+CiAgICA8L2c+Cjwvc3ZnPg=="
         alt="loading" class="wait-spinner"/>
    <h4 class="wait-spinner-text">Loading...</h4>
}
<PokemonGrid Pokemons="_pokemons"></PokemonGrid>


@code
{
    private int _selectedGeneration = 1;
    private List<Pokemon> _pokemonList = new ();
    private IEnumerable<Pokemon> _pokemons = ArraySegment<Pokemon>.Empty;

    protected override async Task OnInitializedAsync()
    {
        GC.Collect();
        _pokemonList = await _pokeapiService.GetAllPokemonAsync();
        var generation = _pokeapiService.GenerationRange(_selectedGeneration);
        _pokemons = _pokemonList.GetRangeOrLess(generation.offset, generation.populationCount);
    }

    private void RadioSelect(ChangeEventArgs args)
    {
        int.TryParse(args.Value!.ToString(), out _selectedGeneration);
        if (_selectedGeneration is > 0 and < 9)
        {
            var generation = _pokeapiService.GenerationRange(_selectedGeneration);
            _pokemons = _pokemonList.GetRangeOrLess(generation.offset, generation.populationCount);
        }
    }
    
}