@page "/generations"
@using PokeCards.Services
@using PokeCards.Data
@inject PokeApiService PokeApiService 
@inject NavigationManager NavigationManager

<PageTitle>Generations</PageTitle>

<h1>Generations</h1>

<div class="switch">
    @for (var gen = 1; gen < 9; gen++)
    {
        <input type="radio" name="switch" id="@("s" + gen)" value="@gen" @onchange="RadioSelect"/>
        <label for="@("s" + gen)" class="switch-label">@gen</label>
    }
    <div class="switch-indicator"><span class="switch-shadow"></span></div>
</div>

<div class="pokemon-container"> 
    <div class="pokemon-list">
        @foreach (var pokemon in _pokemons)
        {
            <div class="card-wrapper">
                <a class="species-card" href="species/@pokemon.Id">
                    <img src="Images/Species/@(pokemon.Id).png" alt="@pokemon.Name" class="img img-pokemon"/>
                    <p class="pokemon-id">#@pokemon.Id</p>
                    <h5 class="pokemon-name">@pokemon.Name</h5>
                </a>
            </div>
        }
    </div>
</div>


@code
{
    private int _selectedGeneration = 1;
    private string _link = "";
    private List<Pokemon> _pokemonList = new ();
    private IEnumerable<Pokemon> _pokemons = ArraySegment<Pokemon>.Empty;

    protected override async Task OnInitializedAsync()
    {
        _pokemonList = await PokeApiService.GetAllPokemonAsync();
        var generation = PokeApiService.GenerationRange(_selectedGeneration);
        _pokemons = _pokemonList.GetRange(generation.offset, generation.populationCount);
    }

    private void RadioSelect(ChangeEventArgs args)
    {
        int.TryParse(args.Value.ToString(), out _selectedGeneration);
        if (_selectedGeneration is > 0 and < 9)
        {
            var generation = PokeApiService.GenerationRange(_selectedGeneration);
            _pokemons = _pokemonList.GetRange(generation.offset, generation.populationCount);
        }
    }


    private void SetHref(string id)
    {
        NavigationManager.NavigateTo($"/species/{id}");
    }
}