@page "/species"
@page "/species/{Id:int}"
@using PokeCards.Data
@using PokeCards.Services
@using System.Diagnostics
@using System.Net
@using System.Net.Http
@using System.Net.Http.Headers
@inject IJSRuntime JS
@inject PokeapiService _pokeapiService
@inject PokemontcgService _pokemontcgService;
@inject ImageService ImageService;

<PageTitle>Generations</PageTitle>

<h2>@Pokemon.Name</h2>

<h4> Evolves from: </h4>

<div class="species-hero">
    <SpeciesCard Pokemon="Pokemon" AlwaysInFocus="true"></SpeciesCard>
</div>

<h4>Evolves to:</h4>

<h4>Cards:</h4>

<div class="card-grid-container">
    @if (Cards.Count == 0)
    {
        <img src="data:image/svg+xml;base64,PCEtLSBCeSBTYW0gSGVyYmVydCAoQHNoZXJiKSwgZm9yIGV2ZXJ5b25lLiBNb3JlIEAgaHR0cDovL2dvby5nbC83QUp6YkwgLS0+Cjxzdmcgd2lkdGg9IjM4IiBoZWlnaHQ9IjM4IiB2aWV3Qm94PSIwIDAgMzggMzgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgc3Ryb2tlPSIjZmZmIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMSAxKSIgc3Ryb2tlLXdpZHRoPSIyIj4KICAgICAgICAgICAgPGNpcmNsZSBzdHJva2Utb3BhY2l0eT0iLjUiIGN4PSIxOCIgY3k9IjE4IiByPSIxOCIvPgogICAgICAgICAgICA8cGF0aCBkPSJNMzYgMThjMC05Ljk0LTguMDYtMTgtMTgtMTgiPgogICAgICAgICAgICAgICAgPGFuaW1hdGVUcmFuc2Zvcm0KICAgICAgICAgICAgICAgICAgICBhdHRyaWJ1dGVOYW1lPSJ0cmFuc2Zvcm0iCiAgICAgICAgICAgICAgICAgICAgdHlwZT0icm90YXRlIgogICAgICAgICAgICAgICAgICAgIGZyb209IjAgMTggMTgiCiAgICAgICAgICAgICAgICAgICAgdG89IjM2MCAxOCAxOCIKICAgICAgICAgICAgICAgICAgICBkdXI9IjFzIgogICAgICAgICAgICAgICAgICAgIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIi8+CiAgICAgICAgICAgIDwvcGF0aD4KICAgICAgICA8L2c+CiAgICA8L2c+Cjwvc3ZnPg=="
             alt="loading" class="wait-spinner"/>
        <h3 class="wait-spinner-text">Loading...</h3>
    }
    @if (Cards.Count != 0)
    {
        <div class="card-list">
            @foreach (var card in Cards)
            {
                <div class="card">
                    @* <img src="@($"data:image/png;base64,{Convert.ToBase64String(card.ImageBytes)}")" alt=""/> *@
                    <img src="@SetImageUsingBytes(card.ImageBytes, card.Id)" id="@card.Id" alt=""/>
                    <p>@card.Name</p>
                </div>
            }
        </div>
    }
</div>




@code {
    private Pokemon Pokemon = new();
    private List<Card> Cards = new();
    private Stopwatch firstSw = new();
    private Stopwatch sw = new ();
    
    [Parameter]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        firstSw.Start();
        Pokemon = await _pokeapiService.GetPokemonAsync(Id);
        var cards = await _pokemontcgService.GetAllCardsForAsync(Id);
        await ImageService.GetImagesAsync(cards);
        Cards = cards;
        sw.Start();
    }

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
        {
            sw.Stop();
            firstSw.Stop();
            Console.WriteLine($"Render took: {sw.ElapsedMilliseconds} ms");
            Console.WriteLine($"Page took in total: {firstSw.ElapsedMilliseconds} ms");
        }
        return base.OnAfterRenderAsync(firstRender);
    }

    private async Task SetImageUsingBytes(byte[] bytes, string id)
    {
        var stream = new MemoryStream(bytes);
        var dotnetImageStream = new DotNetStreamReference(stream);
        await JS.InvokeVoidAsync("setImageUsingStreaming", id, dotnetImageStream);
    }
}